In [70]:
from bs4 import BeautifulSoup
from requests import get
import pandas as pd

In [71]:
url='https://www.imdb.com/list/ls091520106/'

In [72]:
soup=requests.get(url) #check if the api allows us or not
soup

In [73]:
imdb=BeautifulSoup(soup.content,'html.parser') #bring the content out

In [74]:
movies = imdb.findAll('div',{'class':"lister-item mode-detail"})

In [75]:
first_movie = movies[0]

In [76]:
first_movie.h3.a.text

'The Shawshank Redemption'

In [77]:
movie_year= movies[0]

In [78]:
movie_year.find('span',{'class':'lister-item-year text-muted unbold'}).text[1:5]

'1994'

In [79]:
movie_rating=movies[0]

In [80]:
movie_rating.find('span',{"class":"ipl-rating-star__rating"}).text

'9.3'

In [81]:
name=[]
year=[]
rating=[]

In [82]:
for i in movies:
    name.append(i.h3.a.text)
    year.append(i.find('span',{'class':'lister-item-year text-muted unbold'}).text[1:5])
    rating.append(i.find('span',{"class":"ipl-rating-star__rating"}).text)

In [83]:
data=list(zip(name,year,rating))

In [84]:
df=pd.DataFrame(data,columns=['name','year','rating'])

In [85]:
df

                                   name  year rating
0              The Shawshank Redemption  1994    9.3
1                         The Godfather  1972    9.2
2                The Godfather: Part II  1974      9
3                       The Dark Knight  2008      9
4                          12 Angry Men  1957      9
..                                  ...   ...    ...
95                   North by Northwest  1959    8.3
96                   A Clockwork Orange  1971    8.3
97                               Snatch  2000    8.2
98  Le fabuleux destin d'Amélie Poulain  2001    8.3
99                              The Kid  1921    8.3

[100 rows x 3 columns]