a) Top 10 ODI teams in women’s cricket along with the records for matches, points and ratin

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [4]:
url1='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
soup1=requests.get(url1)
odi=BeautifulSoup(soup1.content)
game=odi.find_all('tr',{'class':'table-body'})

In [5]:
country=[]
rate=[]
for i in game:
    country.append(i.find('span',{"class":"u-hide-phablet"}).text)
for i in game:
    rate.append(i.find('td',{'class':"table-body__cell u-text-right rating"}).text)

In [6]:
total=[]
for i in odi.find_all('td',{"class":"table-body__cell u-center-text"}):
    total.append(i.text)
matches = []
for i in range(0,len(total),2):
    matches.append(total[i])
pts = []
for i in range(1,len(total),2):
    pts.append(total[i])

In [7]:
dataset=list(zip(country,rate,matches,pts))[:10]
dd=pd.DataFrame(dataset,columns=['Team','matches','points','rating'])

In [8]:
dd

           Team matches points rating
0  South Africa     121     19  2,307
1       England     119     18  2,148
2         India     112     17  1,899
3    Bangladesh      95      5    475
4   New Zealand      88     19  1,668
5   West Indies      87     19  1,658
6      Pakistan      69     19  1,304
7       Ireland      48      5    240
8     Sri Lanka      47      5    233
9      Zimbabwe       0      8      0

b) Top 10 women’s ODI Batting players along with the records of their team and rating

In [13]:
url2='https://www.icc-cricket.com/rankings/womens/player-rankings/odi'
soup2=requests.get(url2)
game=BeautifulSoup(soup2.content)
batsman=game.find_all('tr',{'class':'table-body'})

In [14]:
cricketer=[]
for i in batsman:
    cricketer.append(i.a.text)
team=[]
for j in batsman:
    team.append(j.find('span',{'class':'table-body__logo-text'}).text)
rate=[]
for k in batsman:
    rate.append(k.find('td',{'class':'table-body__cell u-text-right rating'}).text)

In [15]:
dataset=list(zip(cricketer,team,rate))[:10]
ddd=pd.DataFrame(dataset,columns=['cricketer','team','rate'])

In [16]:
ddd

           cricketer team rate
0       Alyssa Healy  AUS  750
1        Mithali Raj  IND  738
2     Tammy Beaumont  ENG  728
3  Amy Satterthwaite   NZ  717
4    Smriti Mandhana  IND  710
5        Meg Lanning  AUS  699
6        Beth Mooney  AUS  690
7    Stafanie Taylor   WI  676
8     Heather Knight  ENG  674
9     Jhulan Goswami  IND  727