In [55]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [5]:
url='https://www.imdb.com/list/ls009997493/'

In [9]:
soup=requests.get(url)
soup

In [10]:
imdb=BeautifulSoup(soup.content)

In [11]:
movies=imdb.find_all('div',{'class':"lister-item mode-detail"})

In [32]:
movie_name=movies[0]
movie_name.h3.a.text

'Rang De Basanti'

In [40]:
movie_year=movies[0]
movie_year.find('span',{'class':"lister-item-year text-muted unbold"}).text[1:5]

'2006'

In [43]:
movie_rating=movies[0]
movie_rating.find('span',{'class':"ipl-rating-star__rating"}).text

'8.1'

In [45]:
name=[]
year=[]
rating=[]

In [47]:
for i in movies:
    name.append(i.h3.a.text)
    year.append(i.find('span',{'class':"lister-item-year text-muted unbold"}).text[1:5])
    rating.append(i.find('span',{'class':"ipl-rating-star__rating"}).text)

In [51]:
dataset=list(zip(name,year,rating))

In [56]:
df=pd.DataFrame(dataset,columns=["Name", "Year", "Rating"])

In [58]:
df

                      Name  Year Rating
0          Rang De Basanti  2006    8.1
1                 3 Idiots  2009    8.4
2         Taare Zameen Par  2007    8.4
3           Dil Chahta Hai  2001    8.1
4   Swades: We, the People  2004    8.2
..                     ...   ...    ...
95             Wake Up Sid  2009    7.6
96                Rangeela  1995    7.5
97     Shatranj Ke Khilari  1977    7.7
98      Pyaar Ka Punchnama  2011    7.6
99           Ek Hasina Thi  2004    7.5

[100 rows x 3 columns]