a) Top 10 ODI teams in menâ€™s cricket along with the records for matches, points and rating.

In [77]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [78]:
url1="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"

In [79]:
soup1=requests.get(url1)

In [80]:
odi=BeautifulSoup(soup1.content)

In [81]:
game=odi.find_all('tr',{'class':'table-body'})

In [82]:
country=[]
rate=[]

In [83]:
for i in game:
    country.append(i.find('span',{"class":"u-hide-phablet"}).text)
for i in game:
    rate.append(i.find('td',{'class':"table-body__cell u-text-right rating"}).text)

In [84]:
#matches
#pts

In [85]:
total=[]
for i in odi.find_all('td',{"class":"table-body__cell u-center-text"}):
    total.append(i.text)
matches = []
for i in range(0,len(total),2):
    matches.append(total[i])
pts = []
for i in range(1,len(total),2):
    pts.append(total[i])

In [90]:
dataset=list(zip(country,rate,matches,pts))[:10]

In [91]:
dd=pd.DataFrame(dataset,columns=['Team','matches','points','rating'])

In [92]:
dd

           Team matches points rating
0       England     119     32  3,793
1     Australia     116     28  3,244
2         India     113     32  3,624
3  South Africa      98     25  2,459
4      Pakistan      93     27  2,524
5    Bangladesh      91     30  2,740
6   West Indies      84     30  2,523
7     Sri Lanka      83     32  2,657
8   Afghanistan      62     17  1,054
9   Netherlands      48      7    336

 b) Top 10 ODI Batsmen along with the records of their team and rating.

In [94]:
url2='https://www.icc-cricket.com/rankings/mens/player-rankings/odi'

In [95]:
soup2=requests.get(url2)

In [96]:
game=BeautifulSoup(soup2.content)

In [97]:
batsman=game.find_all('tr',{'class':'table-body'})

In [98]:
cricketer=[]
for i in batsman:
    cricketer.append(i.a.text)
team=[]
for j in batsman:
    team.append(j.find('span',{'class':'table-body__logo-text'}).text)
rate=[]
for k in batsman:
    rate.append(k.find('td',{'class':'table-body__cell u-text-right rating'}).text)

In [102]:
dataset=list(zip(cricketer,team,rate))[:10]

In [103]:
ddd=pd.DataFrame(dataset,columns=['cricketer','team','rate'])

In [104]:
ddd

         cricketer team rate
0      Virat Kohli  IND  844
1     Rohit Sharma  IND  813
2      Ross Taylor   NZ  801
3      Aaron Finch  AUS  779
4   Jonny Bairstow  ENG  775
5     David Warner  AUS  762
6        Shai Hope   WI  758
7  Kane Williamson   NZ  754
8  Quinton de Kock   SA  743
9   Josh Hazlewood  AUS  709